
body,html {
    margin: 0;
    padding: 0;
    font-family: "Crimson Text", "Georgia", serif;
    line-height: 1.2;
    min-height: 100vh
	
}

html {
    background: #fff
}
/*
@media (prefers-color-scheme:dark) {
    html,html #archipelago a:hover img,html img,html img.book.cover,html img.book.cover.big {
        filter: invert(1) 
    }

    html #thoughts figure.standalone img {
        box-shadow: .25em .25em .67em #fff8
    }
}
*/
body {
    font-size: 105.5%;
    background: linear-gradient(180deg,rgba(255,128,0,.033),3em,rgba(255,216,0,0) 33em),linear-gradient(90deg,hsla(34deg,0%,96%,.98) 5%,10%,hsla(34deg,38%,99%,.95) 25%,33%,hsla(34deg,38%,99%,1) 50%,67%,hsla(34deg,38%,99%,.975) 75%,90%,hsla(34deg,0%,96%,.98) 95%)0 0/100% 100%no-repeat,linear-gradient(179deg,hsla(34deg,38%,99%,1) 11em,hsla(34deg,38%,99%,0) 13em),linear-gradient(0deg,hsla(34deg,38%,99%,1) 23em,hsla(34deg,38%,99%,0) 42em),hsla(34deg,38%,99%,1);
    color: hsl(33deg,50%,10%)
}

@media (max-width:40em) {
    body {
        hyphens: auto
    }
}

@media (min-width:40em) {
    body {
        background: linear-gradient(180deg,rgba(255,128,0,.033),3em,rgba(255,216,0,0) 33em),linear-gradient(90deg,hsla(34deg,0%,96%,.98) 5%,10%,hsla(34deg,38%,99%,.95) 25%,33%,hsla(34deg,38%,99%,1) 50%,67%,hsla(34deg,38%,99%,.975) 75%,90%,hsla(34deg,0%,96%,.98) 95%)0 0/100% 100%no-repeat,linear-gradient(179deg,hsla(34deg,38%,99%,1) 11em,hsla(34deg,38%,99%,0) 13em),linear-gradient(0deg,hsla(34deg,38%,99%,1) 23em,hsla(34deg,38%,99%,0) 42em),url(/img/bg-waves.png)0 0,url(/img/bg-waves.png)250px -50px,hsla(34deg,38%,99%,1)
    }
}

h1 {
    font-weight: 500;
    font-family: "Crimson Text", "Georgia", serif;
    font-variant-numeric: lining-nums;
    font-size: 400%;
    line-height: 1.1;
    hanging-punctuation: first allow-end;
    margin: .67em 0 .67em -.1em
}

h2,h3,h4,h5,h6 {
    font-family: "Crimson Text", "Georgia", serif;
    font-weight: 500;
    line-height: 1.2;
    margin: 1.5em 0 .5em
}

h2 {
    font-size: 200%
}

h3 {
    font-size: 133%
}

h4 {
    font-size: 115%
}

h5 {
    font-size: 100%
}

h6 {
    font-size: 100%
}

@media (max-width:40em) {
    h1 {
        font-size: 400%
    }
}

@media (max-width:30em) {
    h1 {
        font-size: 300%
    }
}


p.note {
    font-style: italic;
    font-size: smaller;
    text-indent: 0
}

p.signature {
    font-family: 'IM Fell English',Georgia,serif;
    font-style: italic;
    font-size: 120%
}

p.signature::before {
    content: "— "
}

.title a[href],a[href]:hover {
    text-underline-offset: .15em
}

a[href] {
    text-decoration-thickness: .03875em;
    text-underline-offset: .2em;
    text-decoration-color: hsl(13deg,13%,67%);
    color: hsl(13deg,33%,42%)
}

a[href]:hover {
    text-decoration-thickness: .125em;
    text-decoration-color: currentColor
}

@supports (text-decoration-thickness:1px) {
    a[href]:hover {
        color: hsl(33deg,99%,33%)
    }
}

h1 a[href],h2 a[href],h3 a[href] {
    text-decoration-color: currentColor
}

img,video {
    max-width: 100%;
    height: auto
}

code,kbd,pre,tt,xmp,mark{
    font-family: "Monaco", "Courier New", "Courier";
    font-size: .933em;
    hyphens: none
}

mark{
    color: hsl(25deg,75%,25%);
	background: hsla(25deg,75%,25%,.1);
	 padding: .15em .33em .1em;
    border: solid #fff8;
    border-width: 2px 0
}

code{
    color: hsl(25deg,75%,25%)
}

kbd {
    color: hsl(145deg,75%,25%)
}

tt {
    color: hsl(25deg,15%,40%)
}

pre>code {
    margin: 1em 0;
    line-height: 1.2
}

:not(pre)>code,:not(pre)>kbd {
    background: hsla(25deg,75%,25%,.1);
    padding: .15em .33em .1em;
    border: solid #fff8;
    border-width: 2px 0
}

em.sagesse {
	background: hsla(25deg,75%,25%,.1);
   
    border: solid #fff8;
    border-width: 2px 0
}



:not(pre)>kbd {
    background-image: linear-gradient(135deg,transparent,rgba(255,255,255,.1),transparent);
    background-color: hsla(25deg,0%,0%,.1)
}

pre,xmp {
    margin: 1.5em .25ch;
    border-radius: .25em;
    padding: 1em;
    background: linear-gradient(to right,hsla(25deg,0%,33%,.1),67%,hsla(25deg,0%,33%,.075));
    white-space: pre-wrap;
    overflow-wrap: break-word;
    tab-size: 2.5
}

pre+pre,xmp+xmp {
    margin-top: -.5em
}

pre[class],xmp[class] {
    background: linear-gradient(to right,hsla(25deg,75%,25%,.1),67%,hsla(25deg,75%,25%,.075))
}

pre[class]::before,xmp[class]::before {
    display: block;
    padding: .125ch;
    margin: -1em -1em 1em;
    border-radius: .25em 0 0 .25em;
    content: attr(class);
    text-align: center;
    text-transform: uppercase;
    font: 600 90%Crimson Text,serif;
    background: hsla(25deg,75%,31%,.075);
    color: hsla(33deg,50%,10%,.75)
}

@media (min-width:40em) {
    pre[class],xmp[class] {
        display: grid;
        grid-template-columns: 1fr min-content;
        margin-right: -1.75em;
        padding: 0 0 0 1em
    }

    pre[class]::before,xmp[class]::before {
        grid-column: 2;
        grid-row: 1/-1;
        margin: 0 0 0 1em;
        padding-left: .05ch;
        writing-mode: vertical-lr
    }
}

del {
    opacity: .4;
    text-decoration-thickness: .25em;
    text-decoration-color: rgba(0,0,0,.5)
}

ins {
    background: rgba(255,255,0,.5);
    border: solid #fff8;
    border-width: 2px 0
}

div:not(#main) ol,div:not(#main) ul {
    margin: 0;
    padding: 0
}

#main>dl dt {
    text-align: left;
    margin: 1.5em 0 0;
    padding: 0;
    border-right: none;
    font-weight: 600
}

#main>dl dd {
    margin: .5em 0;
    padding: 0 0 0 1em;
    max-width: 75ch
}

@media (min-width:45em) {
    #main>dl.compact {
        display: grid;
        grid-template-columns: 16ch 1fr;
        align-items: baseline
    }

    #main>dl.compact dt {
        text-align: right;
        margin: .5em 0;
        padding: 0 .5em 0 0;
        border-right: .125em solid rgba(0,0,0,.5)
    }

    #main>dl.compact dd {
        margin: .5em 0;
        padding: 0 .5em;
        max-width: 75ch
    }
}

blockquote {
    color: hsl(33deg,5%,33%);
    margin: 1.5em 1em;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: auto 1em,auto 1em,100% 1px,100% 1px;
    background-position: 0 0,100% 100%,50%0,50% 100%
}

blockquote>:first-child {
    margin-top: 0
}

blockquote>:last-child {
    margin-bottom: 0
}

blockquote p.attrib,blockquote+p.attrib {
    font-size: 90%;
    font-style: normal
}

.framed {
    border: 3px double currentColor
}

img.border {
    border: 2px solid currentColor
}

img.book {
    border: 1px solid rgba(0,0,0,.1)
}

img.book.cover {
    filter: drop-shadow(.33em .33em .125em rgba(0,0,0,.125)) drop-shadow(.25em .25em .125em rgba(0,0,0,.33)) drop-shadow(.1em .1em .125em rgba(0,0,0,.25)) drop-shadow(0 0 .2em rgba(0,0,0,.1))
}

img.book.cover.big {
    filter: drop-shadow(.1em .1em .125em rgba(0,0,0,.25)) drop-shadow(.15em .15em .15em rgba(0,0,0,.25)) drop-shadow(.33em .33em .15em rgba(0,0,0,.15)) drop-shadow(.5em .5em .2em rgba(0,0,0,.2)) drop-shadow(.67em .67em .25em rgba(0,0,0,.25)) drop-shadow(1.33em 1.33em .33em rgba(0,0,0,.3)) drop-shadow(0 0 .2em rgba(0,0,0,.1))
}

table {
    margin: 1em;
    border-collapse: separate;
    border-spacing: 1px
}

table caption {
    font-style: italic;
    font-size: 90%;
    line-height: 1.2;
    margin-top: .15em;
    caption-side: bottom
}

table td,table th {
    padding: .2em .25em .1em
}

table.data {
    margin: 1.5em 0;
    min-width: 50%
}

table.data :not(caption) {
    font: 1em Source Sans Pro,Open Sans,Helvetica,sans-serif
}

table.data th {
    padding: .5ch 1ch .25ch;
    font-weight: 550
}

table.data td {
    padding: .25ch 1ch .15ch
}

table.data thead th {
    background: rgba(191,128,64,.5)
}

table.data tbody tr:nth-child(odd)>* {
    background: rgba(191,128,64,.13)
}

table.data tbody tr:nth-child(even)>* {
    background: rgba(191,128,64,.25)
}

table.data :not(thead)+tbody tr:first-child>* {
    border-top: 2px solid rgba(191,128,64,.5)
}

table.data tbody tr:last-child>* {
    border-bottom: 2px solid rgba(191,128,64,.5)
}

table.chart {
    margin: 1.5em 0;
    border-collapse: separate;
    border-spacing: 0
}

table.chart td,table.chart th {
    padding: .75em .5em;
    text-align: left;
    vertical-align: top
}

table.chart tbody tr td {
    border-top: 1px solid rgba(0,0,0,.25)
}

table.chart td>:only-child {
    margin: 0
}

body>#main,body>#thoughts {
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    line-height: 1.45;
	  font-size: 18px;
}

@media (min-width:40em) {
    body,body.arch {
        display: grid;
        grid-template-columns: [left]minmax(1em,1fr)[main]minmax(10em,40em)[right]minmax(10em,1fr);
        grid-template-rows: repeat(7,min-content) auto repeat(2,min-content);
        grid-gap: 0 2em
    }

    body.arch {
        grid-template-columns: [left]minmax(7em,1fr)[main]minmax(10em,40em)[right]minmax(10em,1fr)
    }

    body>* {
        grid-column: 1/-1
    }

    body>#main,body>#thoughts {
        grid-column: main;
        grid-row: 1/-3;
        padding: 3em 0 0
    }

}


	

#navigate {
  
    top: 0;
    left: 0;
    right: 0; 
    z-index: 42;
    font-size: 1.125em
}

#navlinks {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 1em 1em 0;
	margin: 0;
	list-style: none;
	font-family: IM Fell English, Georgia, serif;
}
#navlinks li {
	text-align: center;
	padding: 0.25em 0.5em;
}
#navlinks a[href] {
	display: block;
	padding: 0;
	color: hsla(33deg,50%,10%,0.75);
}
body.arch #navigate #navlinks #archLink,
body.css #navigate #navlinks #cssLink,
body.tools #navigate #navlinks #toolsLink,
body.write #navigate #navlinks #writeLink,
body.speak #navigate #navlinks #speakLink,
body.other #navigate #navlinks #otherLink,
body.feeds #navigate #navlinks #feedsLink,
body.about #navigate #navlinks #aboutsite {
	font-weight: 600;
	font-style: italic;
}

#archipelago ul,#navlinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none
}

#navlinks {
    /* padding: 1em 1em 0; */
	
    margin: 0 0 1em 0;
    font-family: IM Fell English,Georgia,serif;
	justify-content: start
}

#navlinks li {
    text-align: center;
    padding: .25em .5em
}

#navlinks li a[href] {
    display: block;
    
    color: hsla(33deg,50%,10%,.75)
}

#navlinks li.active a[href] {
    color: hsl(33deg,99%,33%);
	
   
}

body.about #navigate #navlinks #aboutsite,body.arch #navigate #navlinks #archLink,body.css #navigate #navlinks #cssLink,body.feeds #navigate #navlinks #feedsLink,body.other #navigate #navlinks #otherLink,body.speak #navigate #navlinks #speakLink,body.tools #navigate #navlinks #toolsLink,body.write #navigate #navlinks #writeLink {
    font-weight: 600;
    font-style: italic
}

@media (min-width:40em) {
    #navigate {
        position: sticky;
        grid-column: right;
        grid-row: 1;
        background: radial-gradient(ellipse 100% 100%at 75% 50%,hsla(34deg,38%,98%,1) 25%,hsla(34deg,38%,98%,0) 75%)
    }

    #navlinks {
        display: block;
        padding: 0;
        margin-bottom: 2.5em
    }

    #navlinks li {
        text-align: right;
        padding: .25em 1em
    }

    body.about #navigate #navlinks #aboutsite,body.arch #navigate #navlinks #archLink,body.css #navigate #navlinks #cssLink,body.feeds #navigate #navlinks #feedsLink,body.other #navigate #navlinks #otherLink,body.speak #navigate #navlinks #speakLink,body.tools #navigate #navlinks #toolsLink,body.write #navigate #navlinks #writeLink {
        font-weight: 500;
        font-size: 110%;
        background: url(/img/urhere.png)100% 50%/1em auto no-repeat;
        padding-right: 1.33em
    }

    #main {
        grid-column: 1/ - 1;
        grid-row: 3/span 3
    }
}

footer#global::before {
    content: "";
    display: block;
    height: 6.5em;
    background: url(/img/footer-curl.png)-10px 0/auto 100%no-repeat,url(/img/footer-wave.png)0 100%/auto 2em repeat-x,url(/img/footer-wave.png)0 95%/auto 1.5em repeat-x;
    mix-blend-mode: darken
}

@supports (mix-blend-mode:darken) {
    footer#global::before {
        background: url(/img/footer-curl.png)-10px 0/auto 100%no-repeat,url(/img/footer-wave.png)0 100%/auto 2em repeat-x,url(/img/footer-wave.png)0 95%/auto 1.5em repeat-x,linear-gradient(179.5deg,hsla(34deg,38%,99%,1),hsl(25deg,0%,97%))0 0/100% 100%
    }
}

footer#global {
    grid-column: 1/-1;
    grid-row: -2;
    clear: both;
    margin-top: 2em;
    padding: 0;
    font-family: IM Fell English, Georgia, serif;
    font-size: 95% 
	
}

footer#global>div {
    background: 50% 99%/4em auto no-repeat,linear-gradient(-1deg,rgba(0,0,0,.2),33%,transparent 90%),#efecee;
    padding: 2em 3em 4em;
	color: hsl(33deg,50%,10%)
}

#archipelago {
    grid-column: 2;
    grid-row: 1/-1
}

.sosumi {
    grid-column: 3;
    grid-row: 1
}

.sosumi p {
	margin: 0;
}

#design.credits {
    grid-column: 3;
    grid-row: 2;
    align-self: start
}

#wordpress.credits {
    grid-column: 1;
    grid-row: 2
}

footer#global>div div {
    margin: 1em 0
}

footer#global strong {
    font-weight: 600
}

@media (min-width:50em) {
    footer#global>div {
        display: grid;
        grid-template-columns: 1fr 9em 1fr;
        grid-template-rows: repeat(2,min-content);
        grid-gap: 1em 2.5em;
        padding-right: 4em;
        background-position: 100% 40%,center
    }

   
	
	#wordpress, #excuse{
		 text-align: right
}

    #excuse,.sosumi {
        align-self: start;
		/*padding-top: 20px; */
    }

    footer#global>div div {
        margin: 0
    }

    footer#global a[href],footer#global strong {
        white-space: nowrap
    }
}

#archipelago h3 {
    text-align: center;
    margin: 0 0 .75em;
    font-family:  "Crimson Text", "Georgia", serif;
    font-style: italic;
    line-height: 1.1
}

#archipelago ul {
    margin: 0 0 1em;
    padding: 0
}

#archipelago ul a {
    margin: 0 1ch
}

#archipelago a img {
    max-height: 2.5em;
    filter: grayscale(1) drop-shadow(0 0 0 rgba(0,0,0,.25));
    transition-duration: 100ms
}

#archipelago a:hover img {
    filter: grayscale(0) drop-shadow(.25em .25em .125em rgba(148,90,90,.68));
    transform: translate(-.125em,-.125em)
}

#excuse {
    color: inherit
}

#excuse>* {
    display: inline;
    font-size: 1.1em;
    margin: 0
}

#excuse>h4 {
    font-size: 111%
}

#excuse>h4::after {
    content: ": "
}

#excuse>p {
    white-space: nowrap
}

#excuse>p::after {
    content: ":"
}