---
permalink: /guerison-spirituelle/
layout: layouts/home.njk
description: Définition de la guérison spirituelles et les principes spirituels
---
<h1>Guérison spirituelle</h1>

<p>La guérison spirituelle est un processus qui va au-delà du physique et du psychique, au-delà des mots et des pensées et qui se produit lorsqu'il y a communion avec Dieu. Ce n'est pas un traitement ou une technique en soi, mais plutôt un état d'être qui découle de la compréhension de la vérité spirituelle.</p>
<p>Elle repose sur des principes spirituels qui sont :</p>
<ul>
	<li>Dieu ou conscience infinie est l'unique puissance.</li>
	<p>Reconnaître que Dieu est amour infini, sagesse infinie et bien infini, signifie que la maladie est extérieure à l'action de Dieu et n'a donc « ni cause, ni fondement, ni loi, ni substance, ni pouvoir. »</p>
	
	<li>L'homme est une expression de Dieu.</li>
	<p>Dieu se manifeste « en tant que » être individuel, ce qui signifie qu'il n'y a pas de séparation entre Dieu et l'homme. La guérison spirituelle se produit lorsque l'individu réalise son identité spirituelle en tant qu'enfant de Dieu.</p>
	
	<li>La maladie est une illusion.</li>
	<p>La guérison spirituelle ne cherche pas à guérir une maladie spécifique, mais à éveiller l'individu à sa vraie nature spirituelle, qui est parfaite et harmonieuse. Cet éveil peut être comparé à un réveil d'un rêve ou d'une hypnose.</p>
	
	<li>Le praticien spirituel est un canal.</li>
	<p>Il ne guérit pas par son propre pouvoir, mais en permettant à l'Esprit de Dieu d'agir à travers lui. Le traitement spirituel consiste à préparer la conscience à être réceptive à la parole de Dieu.</p>
	
	<li>Le silence intérieur est essentiel.</li>
	<p>La guérison spirituelle ne s'effectue pas par des affirmations mentales ou des techniques de visualisation. La clé est de calmer l'esprit, de s'abandonner à Dieu et de laisser la Vérité se révéler.</p>
	
	
        <a href="/services/" class="text-link"> Voir offre de service</a>
