---
layout: layouts/home.njk
title:  Guérison spirituelle en  Alsace 
description: Pratique de guérison spirituelle à distance ou à domicile.
eleventyNavigation:
  key: Accueil
  order: 1
numberOfLatestPostsToShow: 3 
---
<div id="ancrage"></div>
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
{% css %} #rounded picture img {border-radius: 50%;width: 2in; } {% endcss %}
{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}

<div id="rounded">
{% image "../public/img/mono.jpg", "Christian D - Esprit de paix." %}
</div>

<h1>Bienvenue </h1>
<blockquote class="hero">
<p>Dans le bruit et la tourmente,<br>
je tourne mon regard au-dedans de moi,<br>
là aucun combat à mener, pas d'opposé, ni opposition,<br>
seul reste la nature de mon être qui est pure harmonie.</p>
<cite>Librement inspiré de Joel S. Goldsmith</cite>

</blockquote>

<h2>A la une</h2>
<div class="tile">
     <a href="posts/la-vague-et-l-ocean/">{% image "../public/img/lavague.webp", "La Grande Vague de Kanagawa" %}</a>
     <div class="tile_inner">
        <h3><a href="posts/la-vague-et-l-ocean/" class="tile_link"><span class="tile_name" style="color:#fff;  text-decoration: none;">La vague et l'océan</span></a></h3>
        <span class="tile_desc">Une courte histoire pour illustrer notre véritable nature</span>
     </div>
</div>

<div class="container">
  <h2>Ecrits</h2>
</div>

{% include "postslist.njk" %}

{% include "morePosts.njk" %}

<h2> Guérison spirituelle </h2>


	{% image "../public/img/consciencedepaix.webp", "Guérison spirituelle" %}
	


<p>Ma compréhension de la maladie, mon évolution spirituelle à travers le message de la Voie Infinie et la pratique de la <strong>guérison spirituelle</strong> telle qu'elle est enseignée par  <strong>Joel Goldsmith</strong> ont transformé radicalement ma vision sur le soin. Dans cet état de conscience, le praticien ne corrige rien, ne traite rien car tout est déjà harmonie et paix. C'est dans cet espace de silence et dans la réalisation de la nature infinie de Dieu que <strong>l'illusion se dissolve</strong> pour laisser apparaître l'état originel de tout être.  </p>

<p>Nous devons respecter <strong>les lois naturelles</strong> pour rester en bonne santé mais devons surtout comprendre <strong>les lois et principes spirituels</strong> qui nous gouvernent.</p>
  



<h3> Traitement spirituel </h3> 

<p>* Prix : participation libre </p> 
 
<p>* Lieu : à distance ou à domicile - Consulter la page<a href="service/"> service </a>pour les modalités de contact</p>




 

<h2>Remerciements</h2>
<p>
Merci à <a href="https://meyerweb.com/">Eric Meyer</a> pour l'inspiration du site <code> Conscience de Paix et de Guérison</code> 
</p>
