<script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>

<stripe-buy-button
  buy-button-id="buy_btn_1Q9WzmEtfz3xB8vBfWEez8So"
  publishable-key="pk_live_ygE7UNTlojNbShQhcVVT54nW"
>
</stripe-buy-button>