<div class="panel" id="feeds">
<h4>Feeds</h4>
	<p>L'ensemble des écrits est disponible sous la forme d'un <a href="/feed/feed.xml" title="Aggregate posts using RSS"><acronym title="Really Simple Syndication">flux RSS</acronym></a>
	</p>
</div>