<div class="panel" id="feeds">
<h4>Feeds</h4>
	<p>A dispatch of all posts to “Thoughts From Eric” is available in both <a href="/feed/feed.xml" title="Aggregate posts using RSS"><acronym title="Really Simple Syndication">RSS</acronym> 2.0</a>
	and <a href="https://meyerweb.com/eric/thoughts/feed/atom/" title="Aggregate posts using Atom">Atom</a>.</p>
</div>