{% css %} blockquote {content: '  ';} {% endcss %}
<footer id="global">
<div>
<div id="archipelago">
<h3>Me retrouver</h3>
<ul>
<li><a href="https://www.facebook.com/conscience.de.paix.et.de.guerison"><img src="/img/pics/facebook_icon.png" alt="Email" width="40" height="40"></a></li>
</ul>
</div>
<div id="excuse">
<div class="panel" id="excuse">
<p>La déclaration  <a href="/declaration/">du mois. </a></p></br>
{%- include "footerDecla.njk" -%}
</div>
</div>
<div class="sosumi">
<p><a href="/#ancrage">Ce site</a> est construit avec <img src="/img/pics/love.png" alt="amour" width="20" height="20"> avec <a href="https://www.11ty.dev/">11ty</a>.</div>
<div id="wordpress" class="credits"><p> Tous droits réservés &copy; 2022-{% year %}. Merci de votre passage</p></div>
<div id="design" class="credits"><p>Les images de fond utilisées  dans la conception de ce site sont adaptées de <a href="https://archive.org/search.php?query=creator%3A%22Mori%2C+Yu%CC%84zan%2C+-1917%22">Yūzan Mori’s <cite><dfn title="In English: Wave Forms">Hamonshū</dfn></cite>, Volumes 1-3</a></p></div>
</div>
</footer>