{% css %} blockquote {content: '  ';} {% endcss %}

<footer id="global">

<div>

<div id="archipelago">
<h3>Me contacter</h3>
<ul>
<li><a href="javascript:location='mailto:\u0063\u002e\u0064\u0065\u006c\u006d\u0061\u0073\u0036\u0037\u0040\u0067\u006d\u0061\u0069\u006c\u002e\u0063\u006f\u006d';void 0"><img src="/img/pics/email.png" alt="Email" width="40" height="40"></a></li>

</ul>
</div>

<div id="excuse">
<div class="panel" id="excuse">
<p>La déclaration  <a href="/declaration/">de la semaine </a></p></br>

{% include "footerDecla.njk" %}
</div>
</div>

<div class="sosumi">
<p>Le site <a href="/#ancrage">Esprit de paix</a> est construit avec <img src="/img/pics/love.png" alt="amour" width="20" height="20"> avec <a href="https://www.11ty.dev/">11ty</a>.</div>
<div id="wordpress" class="credits"><p> Tous droits réservés &copy; 2022-{% year %}. Merci de votre passage</p></div>
<div id="design" class="credits"><p>Les images de fond utilisées  dans la conception de ce site sont adaptées de <a href="https://archive.org/search.php?query=creator%3A%22Mori%2C+Yu%CC%84zan%2C+-1917%22">Yūzan Mori’s <cite><dfn title="In English: Wave Forms">Hamonshū</dfn></cite>, Volumes 1-3</a></p></div>
</div>

</footer>