<!-- DSLs for various open graph languages -->
<meta property="og:type" content="article">
<meta property="og:locale" content="{{ metadata.language }}">
<meta property="og:title" content="{{ title or metadata.title }}">
<meta property="og:description" content="{{ description or metadata.description }}">
<meta property="og:url" content="{{ metadata.url}}">
<meta property="og:site_name" content="{{ metadata.title }}">
<meta content="/public/img/consciencedepaix.jpeg" property="og:image">