<nav role="navigation" aria-label="site" id="navigate">
<ul id="navlinks">
<li id="archLink"><a href="/">Esprit de Paix</a></li>
<li id="cssLink"><a href="/posts/">Archive</a></li>
<li id="toolsLink"><a href="/ressources">A mediter</a></li>
<li id="writeLink"><a href="/contact/">Contact</a></li>
</ul>
</nav>