<ul class="meta">
<li class="date"><cite><a href="{{post.url }}"> {{ title }}</cite></a> a été pubié le <time>{{ page.date | readableDate }} </time>.</li>
<li>Faire un commentaire, poser une question, c'est<a href="mailto:adresse@email.com?subject={{title}}"> ici </a>que cela se passe.</li>
</ul>


