<div role="navigation" aria-label="archive" class="panel" id="related">
<h4>Ecrits connexes</h4>
<p>Rechercher les écrits dans la catégorie <a href="/tags/{{ tag | slugify }}/" rel="category tag">{{tag}}</a></p>
</div>