
<form  action="https://tinyletter.com/Esprit-de-paix" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/Esprit-de-paix', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
<label for="tlemail"><h2 style="text-align:left; padding-top:10px; padding-left:20px;">Newsletter</h2><p style="text-align:left; padding-left:20px;">Inscrivez-vous pour recevoir chaque mois de nouveaux écrits.<br><small>(Vous pouvez vous désincrire à tout instant)</small></p></label>
<p><div class="form"> <input type="email" required name="email" id="tlemail" placeholder="Email" style="margin-left:15px"; /></p><input type="hidden" value="1" name="embed"/><input type="submit" style="margin-right:10px; margin-left:10px;" value="S'inscrire" /></p></div>
</form>