{% for post in postslist | reverse %}
<div class="container">
 <a href="{{ post.url }}" class="list">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
  <p class="fleche"><a href="{{ post.url }}" class="list">Lire</a> </p>
</div>
{% endfor %}