---
title: Services
layout: layouts/home.njk
description: guérison spirituelle - accompagnement et soin spirituel à domicile ou à distance
eleventyNavigation:
  key: Services
  order: 4
---
<h1>Accompagnement et soin spirituel</h1>

<p>La guérison spirituelle est un processus qui va au-delà du physique et du psychique, au-delà des mots et des pensées et qui se produit lorsqu'il y a communion avec Dieu. Ce n'est pas un traitement ou une technique en soi, mais plutôt un état d'être qui découle de la compréhension de la vérité spirituelle. Pour en <a href="/guerison-spirituelle/" class="text-link"> savoir plus</a></p>
<h2>Offre de soin</h2>
<p>Je serai heureux de vous accompagner dans votre démarche de guérison et d'évolution spirituelle, en traitant vos demandes avec bienveillance. Si vous êtes appelés à ouvrir votre conscience à cette expérience, vous pouvez <a href="/contact/" class="text-link"> me contacter.</a></p>
<h2>Questions fréquentes</h2>
<div class="faq-container">
     

        
        <div class="faq-item">
            <div class="faq-question">Quelle est la meilleure façon d’entrer en contact avec vous ?</div>
            <div class="faq-answer">Je suis  disponible pour des soins spirituels à distance ou en présentiel sur rendez-vous.  Le mieux est de m'envoyer un email ou un message sur mon téléphone portable afin que nous définissions une heure de RDV</div>
        </div>

        <div class="faq-item">
            <div class="faq-question">Où êtes-vous située ?</div>
            <div class="faq-answer">Vous pouvez me rencontrer à domicile sur Bischheim dans le Bas-Rhin. Les jours de RDV sont les jeudis de 9H à 18h et le samedi matin de 9h à 12h</div>
        </div>


        <div class="faq-item">
            <div class="faq-question">Quel est le prix pour un soin ?</div>
            <div class="faq-answer">La participation est libre. Vous donnez ce que vous voulez.</div>
        </div>

        <div class="faq-item">
            <div class="faq-question">Je ne suis pas croyant. Puis-je bénéficier de vos soins ?</div>
            <div class="faq-answer"> Oui, bien sûr. L'essentiel est d'être prêt à ouvrir votre conscience à quelque chose de nouveau.</div>
        </div>
    </div>
	
