---
layout: layouts/home.njk
titre: Les déclarations
title : Liste des déclarations de la Voie infinie - Esprit de Paix
description: Courtes déclarations que l'on peut utiliser dans des méditations brèves

---

{% if events %}
  <h1>{{titre}}</h1>
	 {% for event in events %}
	 
	 <blockquote>{{ event.desc}}  </blockquote>
	  {% endfor %}
{% endif %}



