---
layout: layouts/base.njk

  
---
{% css %}{% include "public/css/post.css" %}{% endcss %}
<main role="main" id="thoughts">
<article role="article" class="single entry">
<header>
<h1 class="title">{{title}}</h1>
<em class="pubtime">{{ page.date | htmlDateString}}</em>
</header>
<div class="text">
{{ content | safe }}
{% include "meta.njk" %}
</div>
</article>
{% include "prev-next.njk" %}	
</main>

{% include "nav.njk" %}
{% include "feeds.njk" %}



